body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.myDark{
    background: #23232e;
    text-align: center;
    color: #fff;
}
h2{
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 30px auto;
}
p{
    margin: 20px auto;
    font-size: 18px;
}
.cont{
    text-align: center;
    margin: 50px 25%;
}
.logo{
    width: 8%;
    margin: 50px auto;
}
.dn{
    padding: 5px;
    border: 1.7px solid #fff;
    border-radius: 100%;
    font-size: 40px;
    margin: 50px auto;
    cursor: pointer;
}
.what .myCol{
    text-align: left;
}
.what .myCol h4, .my-work h4{
    font-weight: bold;
    text-transform: capitalize;
}
.menu{
    height: 70px;
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: white;
	margin: 3px 15px;
	padding-bottom: 5px;
	text-decoration: none;
	font-size: 18px;
	text-transform: capitalize;
    transition: all ease .4s;
}
.menu ul li a:hover{
    border-bottom: 5px solid #7b77c9;
}
.my-work{
    text-align: center;
}
.my-work img, .photography img{
    width: 93%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 15px;
}
.myBTN{
    background: #7b77c9;
    color: #fff;
    text-transform: capitalize;
}
.myBTN:hover{
    background: #5e5b9c;
}
.photography,.my-work,.subs{
    overflow: hidden;
}
.subs .cont{
    margin: 120px auto;
}
.subs .myInf{
    font-size: 50px;
}
.subs p{
    margin: 30px auto;
}
.subs input{
    width: 25%;
    display: inline;
}
.subs .myBTN{
    width: 13%;
}
footer .f-icons a{
    text-decoration: none;
}
footer .f-icons i{
    font-size: 40px;
    color: gray;
    margin: 20px;
}